
<body id="login">
	<div class="background">
		<div class="container">
			
			<div class="title_logo">
				<%= image_tag 'logo2.png', :width => '300' %> 
			</div>

			<div class="login_btn">
				<p class="login_link"><a href="./rooms">Twitterでログイン</a></p>
			</div>


			<div class="title_logo">
					
			</div>
		</div>
	</div>
</body>
