<div class="background">
	<div class="container">
		<div class="title_logo">
			<%= image_tag 'logo.png', :width => '300' %> 
		</div>

		<div class="login">
			<p>Twitterでログイン</p>
		</div>
	</div>
</div>
