<div class="background">
	<div class="container">
		<div class="img_box">
			<%= image_tag 'logo.png', :width => '300' %> 
		</div>

		<div class="img_box">
			<p class="btn-login">Twitterでログイン</p>
		</div>
	</div>
</div>

