<div id="detail">
    <div class="odai">
        <h1 id="theme"> 人気バンドのプロモーションサイトを作ろう </h1>
        <p id="explain">あなたはロックバンド「Next Wave」のプロモーションサイトを作ることになりました。Next Waveは若者を中心に人気があり，かっこよく仕上げて欲しいそうです。また，サイトに来てくれた人に宣伝するために，彼らのミュージックビデオの動画が再生できると良さそうです。エンジニアとデザイナーで協力して彼らのプロモーションサイトを作ってください！</p>
        <p id="job">エンジニア<%= image_tag 'human.png' , :size => '22x22' %>   デザイナー<%= image_tag 'human.png' , :size => '22x22' %></p>
        <p id="time">目安時間:6時間</p>
    </div>
    <div class= "row2">
    	<div class="to-do-header">
            <h1 id="crown"><%= image_tag 'crown.png' , :size => '22x22' %></h1>
            <h1 id="title">達成条件</h1>
        </div>

        <div class="challange">
        	<div class="topic">
        		<h1 id="topic-title">画面を作る</h1>
        	</div>
        	<div class="tasks">
        		<label id ="task"><input id="check" type="checkbox" value=""><span style="margin-right: 20px;"></span>写真が掲載されるホームページを作る。このとき画像は適当なものを使用する
    </label> <br />
        		<label id ="task"><input id="check" type="checkbox" value="">
                <span style="margin-right: 20px;"></span>安藤さんのプロフィールを掲載するページを作る（ページを作る代わりにホームページに一緒に掲載しても良い</label> <br />
        		<label id ="task"><input id="check" type="checkbox" value="">
                <span style="margin-right: 20px;"></span>画像を投稿できる画面を作る（編集や削除は考えなくて良い）</label> 
        	</div>
    	</div>
    	<div class="challange">
        	<div class="topic">
        		<h1 id="topic-title">画像を投稿する機能を作る</h1>
        	</div>
        	<div class="tasks">
        		<label id ="task"><input id="check" type="checkbox" value=""><span style="margin-right: 20px;"></span>画像を保存するサーバを用意する
    </label> <br />
        		<label id ="task"><input id="check" type="checkbox" value=""><span style="margin-right: 20px;"></span>画像を送信するクライアントを書く</label>
        	</div>
    	</div>
    	

    </div>
</div>