<div class="rooms_search">
	<div class="rooms_search_container">
		<%= image_tag 'search.svg',class:"rooms_search_icon" %>
	</div>
</div>



<div class="container">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapse1">写真家のポートフォリオサイトを作ろう</a>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>アコーディオン #1<br>アコーディオン #1<br>
        アコーディオン #1<br>アコーディオン #1
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel panel-default">
    <a class="list-group-item" data-toggle="collapse" data-parent="#accordion" href="#collapse2">人気バンドのプロモーションサイトを作ろう</a>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
        アコーディオン #2<br>アコーディオン #2<br>
        アコーディオン #2<br>アコーディオン #2
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>
