<div id="new">
<p class="plain">新しく</p>
<p id="theme">人気バンドのプロモーションサイトを作ろう</p>
<p class="plain">仲間を募集します</p>
<form action="/rooms/1" method="get">
<p id="place">場所は<input id="free" type="text"></p>
<input id="ok" type="submit" value="OK!">
</form>
</div>