#rooms .panel > a {
	font-size: 21px; 
}

#rooms .btn-primary {
	margin: 5px;
}

#rooms .rooms_search {
	position: absolute;
	right:16px;
	top:16px;
}

#rooms .panel-group {
	position:relative;
	margin:100px;
}

#rooms .kadai {
	background-color: #cd3737;
	color: #FFF;
}

#rooms .recruit {
	margin:5px;
	padding:5px;
	background-color: #ffcdd2;
}

#rooms .recruit a {
	color: #000;
}

#rooms .detail {
	margin:5px;
	padding:5px;
	background-color: #f44336;
}

#rooms .detail a {
	color: #FFF;
}

#rooms .btn-join {
	color: #fff;
	background-color: #ff6f00;
	vertical-align: middle;
	margin-top: 0px;
}