#rooms .panel > a {
	font-size: 21px; 
}

#rooms .btn-primary {
	margin: 5px;
}

#rooms .rooms_search {
	position: absolute;
	right:16px;
	top:16px;
}

#rooms .panel-group {
	position:relative;
	margin:100px 0;
}

#new{
	margin-top: 40px;
	text-align: center;
	font-size: 24px;
}

#new .plain {
	text-align: center;
	margin-bottom:15px;
}
#new #theme {
	text-align: center;
	font-weight: 600;

}	
#new #free {
	width: 140px;
}
#new #place {
	margin-top:5px;
	text-align: center;
	margin-bottom:15px;
}	
#new #ok {
	width: 81px;
	height: 44px;
	color: white;
	background-color: #cd3737;
	text-align: center;
}

#rooms .kadai {
	background-color: #cd3737;
	color: #FFF;
}

#rooms .recruit {
	margin:5px;
	padding:5px;
	background-color: #ffcdd2;
}

#rooms .recruit a {
	color: #000;
	display: block;
}

#rooms .detail {
	margin:5px;
	padding:5px;
	background-color: #f44336;
}

#rooms .detail a {
	color: #FFF;
	display: block;
}

#rooms .btn-join {
	color: #fff;
	background-color: #ff6f00;
	vertical-align: middle;
	margin-top: 0px;
	border: 0.35px;
	border-color: #b4b4b5;
}
