#rooms .panel > a {
	font-size: 21px; 
}

#rooms .btn-primary {
	margin: 5px;
}

#rooms .rooms_search {
	position: absolute;
	right:16px;
	top:16px;
}

#rooms .panel-group {
	position:relative;
	margin:100px;
}
