#login .background {
	background-color: #cd3737
}

#login .container {
	background-color: #cd3737
}

#login .title_logo {
  height: 500px;
  position: relative;
}

#login .title_logo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#login .login_btn {
  position: relative;
}

#login .login_btn p {
	text-align: center;
	vertical-align: middle;
	background-color: #FF6F00;
	text-size: 22px;
	width: 200px;
	height: 36px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#login .login_btn a {
		color: #FFF;
		text-decoration: none;
		line-height: 36px;
		vertical-align:middle;
}

#login .login_btn a:link    { color: #FFF; }
#login .login_btn a:visited { color: #FFF; }
#login .login_btn a:hover   { color: #FFF; }
#login .login_btn a:active  { color: #FFF; }

#detail .odai {
	border: solid 0.35px #FFCDD2;
	margin: 10px;
}
#detail #theme {
	
	font-size: 21px;
	background-color: #cd3737;
	color: white;
	padding: 10px;
	line-height: 30px;
}
#detail #explain {
	margin:10px;
	margin-top: 30px;
	font-size: 16px;
	padding-bottom: 25px;
	border-bottom: dashed 0.5px #FFCDD2;
}
#detail .row2 {
	border: solid 0.35px #FFCDD2;
	margin: 10px;
}
#detail #title {
	font-size: 21px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 5px;
	color: #cd3737;
}
#detail #crown {
	font-size: 21px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 15px;
}

#detail #job {
	margin:10px;
	margin-bottom: 30px;
}
#detail #time{
	margin:10px;
	margin-bottom: 30px;
}
#detail .to-do-header p{
	display:inline-block;
 vertical-align:middle;
	
}

#detail #topic-title {
	font-size: 21px;
	text-align: left;
	padding: 12px;
	border-bottom: solid 0.5px #FFCDD2;
	margin-bottom: 30px;
}
.topic {
	
}
#detail .tasks {
	font-size: 16px;
	padding-left: 10px;
}
#detail #task {
	margin-bottom: 20px;
	}
#detail #check {
	width: auto;
}
