#login .background {
	background-color: #D32F2F
}

#login .container {
	background-color: #D32F2F
}

#login .title_logo {
  height: 500px;
  position: relative;
}

#login .title_logo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#login .login_btn {
  height: 0px;
  position: relative;
}

#login .login_btn p {
	text-align: center;
	vertical-align: middle;
	background-color: #FF6F00;
	text-size: 22px;
	width: 200px;
	height: 36px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#login .login_btn a {
		color: #FFF;
}

#login .login_btn a:link    { color: #FFF; }
#login .login_btn a:visited { color: #FFF; }
#login .login_btn a:hover   { color: #FFF; }
#login .login_btn a:active  { color: #FFF; }