
html {
	background-color: #D32F2F
}

.background {
	background-color: #D32F2F
}

.container {
	background-color: #D32F2F
}

.img_box {
  height: 300px;
  position: relative;
}

.img_box img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.btn-login {
	text-align: center;
	vertical-align: middle;
	background-color: #FF6F00;
	color: #FFF;
	text-size: 22px;
	width: 200px;
	height: 36px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
